#map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }



           /*style the box*/  
  .gm-style .gm-style-iw {
  display: block !important;
  opacity: 0.4
  }    
     
  /*style the p tag*/
  .gm-style .gm-style-iw #google-popup p{
  }
        
    
      /*style the arrow*/
  .gm-style div div div div div div div div {
    color: #212121;
    font-size: 11px;
    font-weight: bold;
  
  }
        
        /*style the link*/
  .gm-style div div div div div div div div a {
    opacity: 0.7;
    width: 20px;
    height: 20px;
  }
  .gm-style div div div div div div img {
    display: none;
    width: 0px;
    height: 0px;
  } 
           

  .topMenu {
    background: linear-gradient(141deg, #02183a 0%, #042559 51%, #07347a 75%);
    color: white;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }

  .leftMenu_static3 {
    padding-left: 18px;
		border-right: 1px solid;
		border-color: #9E9E9E;
		height: 100%;
		width: 200px;
		position: fixed;
		z-index: 2;
		margin-top: 77px;
		margin-left: -10px;
		transform: translateX(0px);
		transition: transform 0.5s;
		color: white;
		padding-top: 30px;
		font-size: 11px;
		margin-top: 48px;
  }


  . bgWHITE {
    background-color: white;
  }

  .leftMenu_static2 {
    padding-left: 18px;
		background-color: #000;
		border-right: 1px solid;
		border-color: #9E9E9E;
		height: 100%;
		width: 200px;
		position: fixed;
		z-index: 2;
		margin-top: 77px;
		margin-left: -10px;
		transform: translateX(0px);
		transition: transform 0.5s;
		color: white;
		padding-top: 30px;
		font-size: 11px;
		margin-top: 48px;
		box-shadow: 0 14px 8px 0 rgba(0,0,0,0.2), 0 16px 50px 0 rgba(0,0,0,0.19);
  }

  .leftMenu_static {
    padding-left: 18px;
    background-color: #000;
    opacity: 0.2;
    border-right: 1px solid;
    border-color: #9E9E9E;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 2;
    margin-top: 77px;
    margin-left: -10px;
    transform: translateX(0px);
    transition: transform 0.5s;
    /* right: 0; */
    color: white;
    padding-top:  30px;
    font-size: 11px;
    /* background: linear-gradient(141deg, #02183a 0%, #042559 51%, #07347a 75%); */
    margin-top: 48px;
    box-shadow: 0 14px 8px 0 rgba(0,0,0,0.2), 0 16px 50px 0 rgba(0,0,0,0.19);
    background-image: url('https://initiate.alphacoders.com/images/807/stretched-1920-1080-807182.jpg?8339');
    background-size: cover;
    background-position: center center;
    background-position: 32% 50%;
  }


  .leftMenu {
    background-color: #F5F5F5;
    border-right: 1px solid;
    border-color: #9E9E9E;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 2;
    margin-top: 77px;
    margin-left: -10px;
    transform: translateX(-105%);
    transition: transform 0.4s;
    /* right: 0; */
    color: white;
    padding-top:  30px;
    font-size: 11px;
    /* background: linear-gradient(141deg, #02183a 0%, #042559 51%, #07347a 75%); */
    margin-top: 48px;
    box-shadow: 0 14px 8px 0 rgba(0,0,0,0.2), 0 16px 50px 0 rgba(0,0,0,0.19);
  }


  .table_icon {
    width: 30px; 
    padding-left: 10px; 
    padding-right: 10px; 
    background-color: #E0E0E0; 
    text-align: center;  
  }

  .table_name {
    width: 49%; 
    background-color: #E0E0E0; 
    font-family: 'Roboto', sans-serif; 
    font-size: 11px; 
    font-weight: bold; 
    text-align: left;
  }

  .table_value {
    width: 49%; 
    background-color: #E0E0E0; 
    padding: 5px; 
    font-family: 'Roboto', sans-serif; 
    font-size: 11px;
    text-align: center;
  }


  .close_button {
    position: fixed;
    height: 17px;
    width: 17px;
    text-align: center;
    line-height: 24px;
    color: white;
    right: 7px;
    margin-top: -5px;
    background-color: white;
    padding: 3px;
    font-size: 11px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    border: 1px solid;
    border-color: #6d6d6d;
  }

  .table_main_info {
    width: 93%; 
    color: #333; 
    margin-left: 15px;
    margin-bottom: 10px;

  }


 .table_main_header_static {
    width: 49%; 
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px; 
    padding-top: 1px; 
    padding-bottom: 0px; 
    font-weight: bold; 
    text-align: center;
    color: #212121;
    padding-left: 5px; 
 }

  .table_main_header {
    width: 49%; 
    background-color: #2e5ca5;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px; 
    padding-top: 1px; 
    padding-bottom: 0px; 
    font-weight: bold; 
    text-align: center;
    color: white;
    padding-left: 7px;
  }

  .table_main_colName {
    width: 49%; 
    background-color: #E0E0E0; 
    font-family: 'Roboto', sans-serif; 
    font-size: 11px; 
    font-weight: bold;
    text-align: left;
    padding-left: 9px;
    padding-top: 3px;
    padding-bottom: 3px;
  }



  .table_main_colName_static {
    width: 49%; 
    background-color: #F5F5F5; 
    font-family: 'Roboto', sans-serif; 
    font-size: 11px; 
    font-weight: bold;
    text-align: left;
    padding-left: 9px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .table_main_colValue {
    width: 49%; 
    background-color: #E0E0E0; 
    padding: 5px; 
    font-family: 'Roboto', sans-serif; 
    font-size: 11px; 
    text-align: center;
  }

  .font20 {
    font-size: 20px;
  }



  .info_Name {
    color: #6d6d6d;
    font-size: 10px;
  }

  .info_Value {
    font-family: 'Montserrat', sans-serif;
    color: #393939;
    font-weight: bold;
    font-size: 14px;
  }



  .info_SatelliteName {
    background-color: #222121;
    margin: -1px;
    padding: 15px; 
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #FFD740;
    font-size: 15px;
  }

  .info_SatelliteCategory {
    font-size: 10px; 
    margin-top: 2px; 
    color: white;
  }



  .menu_button {
    padding-top: 21px;
    padding-bottom: 15px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin-right: 3px;
    margin-left: 3px;
    display: inline-block;
  }


  .menu_button:hover {
    background-color: #020f23;
  }

  .menu_header_links {
    right: 15px;
    margin-top: -58px;
    position: fixed;
  }

  @media only screen and (max-width: 950px) {
    .search_input {
      display: none;
    }
  }
  @media only screen and (max-width: 700px) {
    .menu_header_links {
        display: none;
    }
  }
  @media only screen and (max-width: 660px) {
    
  }
 
  
  
  

  .loader {
    font-family: 'Montserrat', sans-serif;
    width: 96%;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
  }




  .loader_box {
    width: 100%; 
    height: 100%; 
    background-color: black; 
    position: fixed; 
    z-index: 999; 
    opacity: 0.4;
  }


  .loader_box_table {
    width: 100%; 
    position: fixed; 
    z-index: 999; 
    top: 50%;
  }



  .map_setting {
    position: fixed;
    bottom: 0;
    z-index: 998;
    right: 0;
  }


  .map_setting_top {
    position: fixed;
    top: 0;
    z-index: 998;
    right: 0;   
    margin-top: 45px;
  }


  
  .map_settings_button {
    margin: 3px;
    display: inline-block; 
    background-color: black; 
    border-radius: 3px; 
    opacity: 0.8; 
    padding: 7px;
    padding-top: 7px;
    padding-bottom: 4px;
    cursor: pointer;

  }



  .map_settings_icon {
    color: white; 
    font-size: 20px;
  }

  .map_settings_icon:hover {
    color: #FFD740;
  }


  .map_settings_text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    display: inline-block;
    margin-right: 20px;
  }


  